body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 450px;
  height: 150px;
}

.title {
  background-color: #fff;
}

.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}



